.about-body{
    width: 100%;
    height: 79vh;
}

.about-body p{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: rgba(149, 67, 220, 0.7);
    padding: 40px; /* Adjust this value for inner spacing if needed */
    height: 325px; /* Adjust this value to increase the height */
    border-radius: 50px;
}

.about-body h2{
    text-align: center;
    font-size: 3vw;
    color: white;
}

@media screen and (max-width: 600px){
    .about-body{
        background-image: auto;
    }

    .about-body p{
        font-size: 4vw;
        width: auto;
    }
    
    .about-body h2{
        font-size: 7vw;
    }

}